CONFIG_APP_ENABLE_MATTER=y
# CONFIG_ESP_MATTER_ENABLE_OPENTHREAD is not set
CONFIG_USE_LWIP_PBUF_RAM_PACKETBUFFER=y
CONFIG_MAX_EXCHANGE_CONTEXTS=4
CONFIG_NUM_TCP_ENDPOINTS=4
CONFIG_NUM_UDP_ENDPOINTS=4

# Keep the Matter data model focused on the root node plus temperature,
# humidity and pressure sensor endpoints. ESP-Matter 1.6 still needs Binding,
# Scenes and TLS cluster implementations to satisfy internal provider/codegen
# linkage, even though this firmware does not create those clusters at runtime.
# CONFIG_SUPPORT_ACCOUNT_LOGIN_CLUSTER is not set
# CONFIG_SUPPORT_ACTIONS_CLUSTER is not set
# CONFIG_SUPPORT_ACTIVATED_CARBON_FILTER_MONITORING_CLUSTER is not set
# CONFIG_SUPPORT_AIR_QUALITY_CLUSTER is not set
# CONFIG_SUPPORT_APPLICATION_BASIC_CLUSTER is not set
# CONFIG_SUPPORT_APPLICATION_LAUNCHER_CLUSTER is not set
# CONFIG_SUPPORT_AUDIO_OUTPUT_CLUSTER is not set
# CONFIG_SUPPORT_BOOLEAN_STATE_CLUSTER is not set
# CONFIG_SUPPORT_BOOLEAN_STATE_CONFIGURATION_CLUSTER is not set
# CONFIG_SUPPORT_BRIDGED_DEVICE_BASIC_INFORMATION_CLUSTER is not set
# CONFIG_SUPPORT_CAMERA_AV_SETTINGS_USER_LEVEL_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_CAMERA_AV_STREAM_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_CARBON_DIOXIDE_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_CARBON_MONOXIDE_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_CHANNEL_CLUSTER is not set
# CONFIG_SUPPORT_CHIME_CLUSTER is not set
# CONFIG_SUPPORT_CLOSURE_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_CLOSURE_DIMENSION_CLUSTER is not set
# CONFIG_SUPPORT_COMMISSIONER_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_COMMODITY_METERING_CLUSTER is not set
# CONFIG_SUPPORT_COMMODITY_PRICE_CLUSTER is not set
# CONFIG_SUPPORT_COMMODITY_TARIFF_CLUSTER is not set
# CONFIG_SUPPORT_CONTENT_APP_OBSERVER_CLUSTER is not set
# CONFIG_SUPPORT_CONTENT_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_CONTENT_LAUNCHER_CLUSTER is not set
# CONFIG_SUPPORT_DEVICE_ENERGY_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_DEVICE_ENERGY_MANAGEMENT_MODE_CLUSTER is not set
# CONFIG_SUPPORT_DIAGNOSTIC_LOGS_CLUSTER is not set
# CONFIG_SUPPORT_DISHWASHER_ALARM_CLUSTER is not set
# CONFIG_SUPPORT_DISHWASHER_MODE_CLUSTER is not set
# CONFIG_SUPPORT_DOOR_LOCK_CLUSTER is not set
# CONFIG_SUPPORT_ECOSYSTEM_INFORMATION_CLUSTER is not set
# CONFIG_SUPPORT_ELECTRICAL_ENERGY_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_ELECTRICAL_GRID_CONDITIONS_CLUSTER is not set
# CONFIG_SUPPORT_ELECTRICAL_POWER_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_ENERGY_EVSE_CLUSTER is not set
# CONFIG_SUPPORT_ENERGY_EVSE_MODE_CLUSTER is not set
# CONFIG_SUPPORT_ENERGY_PREFERENCE_CLUSTER is not set
# CONFIG_SUPPORT_ETHERNET_NETWORK_DIAGNOSTICS_CLUSTER is not set
# CONFIG_SUPPORT_FAN_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_FAULT_INJECTION_CLUSTER is not set
# CONFIG_SUPPORT_FIXED_LABEL_CLUSTER is not set
# CONFIG_SUPPORT_FLOW_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_FORMALDEHYDE_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_GROUPCAST_CLUSTER is not set
# CONFIG_SUPPORT_GROUPS_CLUSTER is not set
# CONFIG_SUPPORT_HEPA_FILTER_MONITORING_CLUSTER is not set
# CONFIG_SUPPORT_HUMIDISTAT_CLUSTER is not set
# CONFIG_SUPPORT_ICD_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_ILLUMINANCE_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_JOINT_FABRIC_ADMINISTRATOR_CLUSTER is not set
# CONFIG_SUPPORT_JOINT_FABRIC_DATASTORE_CLUSTER is not set
# CONFIG_SUPPORT_KEYPAD_INPUT_CLUSTER is not set
# CONFIG_SUPPORT_LAUNDRY_DRYER_CONTROLS_CLUSTER is not set
# CONFIG_SUPPORT_LAUNDRY_WASHER_CONTROLS_CLUSTER is not set
# CONFIG_SUPPORT_LAUNDRY_WASHER_MODE_CLUSTER is not set
# CONFIG_SUPPORT_LOCALIZATION_CONFIGURATION_CLUSTER is not set
# CONFIG_SUPPORT_LOW_POWER_CLUSTER is not set
# CONFIG_SUPPORT_MEDIA_INPUT_CLUSTER is not set
# CONFIG_SUPPORT_MEDIA_PLAYBACK_CLUSTER is not set
# CONFIG_SUPPORT_MESSAGES_CLUSTER is not set
# CONFIG_SUPPORT_METER_IDENTIFICATION_CLUSTER is not set
# CONFIG_SUPPORT_MICROWAVE_OVEN_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_MICROWAVE_OVEN_MODE_CLUSTER is not set
# CONFIG_SUPPORT_MODE_SELECT_CLUSTER is not set
# CONFIG_SUPPORT_NETWORK_IDENTITY_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_NITROGEN_DIOXIDE_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_OCCUPANCY_SENSING_CLUSTER is not set
# CONFIG_SUPPORT_ON_OFF_CLUSTER is not set
# CONFIG_SUPPORT_OPERATIONAL_STATE_CLUSTER is not set
# CONFIG_SUPPORT_OPERATIONAL_STATE_OVEN_CLUSTER is not set
# CONFIG_SUPPORT_OPERATIONAL_STATE_RVC_CLUSTER is not set
# CONFIG_SUPPORT_OTA_SOFTWARE_UPDATE_PROVIDER_CLUSTER is not set
# CONFIG_SUPPORT_OTA_SOFTWARE_UPDATE_REQUESTOR_CLUSTER is not set
# CONFIG_SUPPORT_OVEN_MODE_CLUSTER is not set
# CONFIG_SUPPORT_OZONE_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_PM10_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_PM1_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_PM2_5_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_POWER_SOURCE_CLUSTER is not set
# CONFIG_SUPPORT_POWER_SOURCE_CONFIGURATION_CLUSTER is not set
# CONFIG_SUPPORT_POWER_TOPOLOGY_CLUSTER is not set
# CONFIG_SUPPORT_PROXIMITY_RANGING_CLUSTER is not set
# CONFIG_SUPPORT_PUMP_CONFIGURATION_AND_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_PUSH_AV_STREAM_TRANSPORT_CLUSTER is not set
# CONFIG_SUPPORT_RADON_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_REFRIGERATOR_ALARM_CLUSTER is not set
# CONFIG_SUPPORT_REFRIGERATOR_AND_TEMPERATURE_CONTROLLED_CABINET_MODE_CLUSTER is not set
# CONFIG_SUPPORT_RVC_CLEAN_MODE_CLUSTER is not set
# CONFIG_SUPPORT_RVC_RUN_MODE_CLUSTER is not set
# CONFIG_SUPPORT_SAMPLE_MEI_CLUSTER is not set
# CONFIG_SUPPORT_SERVICE_AREA_CLUSTER is not set
# CONFIG_SUPPORT_SMOKE_CO_ALARM_CLUSTER is not set
# CONFIG_SUPPORT_SOFTWARE_DIAGNOSTICS_CLUSTER is not set
# CONFIG_SUPPORT_SOIL_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_SWITCH_CLUSTER is not set
# CONFIG_SUPPORT_TARGET_NAVIGATOR_CLUSTER is not set
# CONFIG_SUPPORT_TEMPERATURE_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_THERMOSTAT_CLUSTER is not set
# CONFIG_SUPPORT_THERMOSTAT_USER_INTERFACE_CONFIGURATION_CLUSTER is not set
# CONFIG_SUPPORT_THREAD_BORDER_ROUTER_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_THREAD_NETWORK_DIAGNOSTICS_CLUSTER is not set
# CONFIG_SUPPORT_THREAD_NETWORK_DIRECTORY_CLUSTER is not set
# CONFIG_SUPPORT_TIME_FORMAT_LOCALIZATION_CLUSTER is not set
# CONFIG_SUPPORT_TIME_SYNCHRONIZATION_CLUSTER is not set
# CONFIG_SUPPORT_TIMER_CLUSTER is not set
# CONFIG_SUPPORT_TVOC_CONCENTRATION_MEASUREMENT_CLUSTER is not set
# CONFIG_SUPPORT_UNIT_LOCALIZATION_CLUSTER is not set
# CONFIG_SUPPORT_UNIT_TESTING_CLUSTER is not set
# CONFIG_SUPPORT_USER_LABEL_CLUSTER is not set
# CONFIG_SUPPORT_VALVE_CONFIGURATION_AND_CONTROL_CLUSTER is not set
# CONFIG_SUPPORT_WAKE_ON_LAN_CLUSTER is not set
# CONFIG_SUPPORT_WATER_HEATER_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_WATER_HEATER_MODE_CLUSTER is not set
# CONFIG_SUPPORT_WEB_RTC_TRANSPORT_PROVIDER_CLUSTER is not set
# CONFIG_SUPPORT_WEB_RTC_TRANSPORT_REQUESTOR_CLUSTER is not set
# CONFIG_SUPPORT_WIFI_NETWORK_DIAGNOSTICS_CLUSTER is not set
# CONFIG_SUPPORT_WIFI_NETWORK_MANAGEMENT_CLUSTER is not set
# CONFIG_SUPPORT_WINDOW_COVERING_CLUSTER is not set
# CONFIG_SUPPORT_ZONE_MANAGEMENT_CLUSTER is not set
